---
const { title, description, url, socialImage, twitterImage, author } = Astro.props;
const subtitle = "Tustin Recruiting";
---

<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta name="description" content={description} />
<meta name="author" content={author} />

<!-- General meta tags -->
<title>{title} - {subtitle}</title>
<meta name="title" content={`${title} - ${subtitle}`} />

<!-- Open Graph -->
<meta property="og:type" content="website" />
<meta property="og:url" content={url} />
<meta property="og:title" content={`${title} - ${subtitle}`} />
<meta property="og:description" content={description} />
<meta property="og:image" content={Astro.site ? `${Astro.site}${socialImage}` : socialImage} />

<!-- Twitter -->
<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:url" content={url} />
<meta name="twitter:title" content={`${title} - ${subtitle}`} />
<meta name="twitter:description" content={description} />
<meta name="twitter:image" content={Astro.site ? `${Astro.site}${twitterImage}` : twitterImage} />