---
import { getCollection } from "astro:content";
import BaseLayout from "@/layouts/BaseLayout.astro";
import Entries from "@/components/jobs/Entries.astro";
import SearchJobs from "@/components/jobs/SearchJobs.astro";
import JobFilters from "@/components/jobs/JobFilters.astro";

const allPosts = await getCollection("jobs");

function formatSalary(baseSalary) {
  const { currency, minValue, maxValue, unitText } = baseSalary;
  return `${currency} ${minValue.toLocaleString()}-${maxValue.toLocaleString()} per ${unitText.toLowerCase()}`;
}
---

<BaseLayout>
  <section>
    <header class="px-8 mx-auto max-w-7xl lg:px-16 xl:px-24 pt-8">
      <div
        class="p-8 lg:px-20 lg:py-32 rounded-3xl bg-gradient-to-tr from-purple-900 via-purple-700 to-purple-500">
        <div class="text-center max-w-xl mx-auto">
          <span
            class="text-white text-sm leading-6 px-4 py-2 relative bg-white/10 ring-1 ring-white/20 rounded-full"
            >Find your next job</span
          >
          <h2
            class="text-white font-semibold tracking-tight lg:text-5xl mt-8 text-3xl lg:text-balance">
            Job Board for Web Developers, UI/UX Designers, and Marketers
          </h2>
          <p class="text-slate-300 mt-5 lg:text-pretty">
            Jobs is a handpicked job platform showcasing premier opportunities for
            developers, designers, and marketers within the tech industry.
          </p>
        </div>
      </div>
    </header>

    <div class="mx-auto max-w-7xl lg:px-16 md:px-12 px-8 xl:px-24">
      <SearchJobs />
      
      <div class="mt-12 lg:flex lg:gap-x-16">
        <!-- Filters sidebar -->
        <div class="lg:w-1/4">
          <JobFilters />
        </div>
        
        <!-- Job listings -->
        <div class="lg:w-3/4 mt-8 lg:mt-0">
          <ul role="list" class="job-list divide-y divide-slate-100">
            {
              allPosts.map((post) => (
                <Entries
                  url={"/jobs/" + post.slug}
                  position={post.data.position}
                  location={post.data.location}
                  team={post.data.team}
                  company={post.data.hiringOrganization.name}
                  companyLogo={post.data.hiringOrganization.logo}
                  salary={formatSalary(post.data.baseSalary)}
                  type={post.data.employmentType}
                  description={post.data.description}
                  category={post.data.occupationalCategory}
                />
              ))
            }
          </ul>
        </div>
      </div>
    </div>
  </section>
</BaseLayout> 