---
const statusItems = [
  { service: "Admin Console", status: "Operational", color: "green-500" },
  { service: "API", status: "Operational", color: "green-500" },
  { service: "Data & Analytics", status: "Operational", color: "green-500" },
  {
    service: "3rd Party Integrations",
    status: "Operational",
    color: "green-500",
  },
  { service: "Hosted Pages", status: "Down", color: "red-500" },
  { service: "Payment Gateways", status: "Low signal", color: "yellow-500" },
  { service: "Payment Methods", status: "Operational", color: "green-500" },
];

const events = [
  {
    status: "Completed",
    description: "The scheduled maintenance has been completed.",
    timestamp: "May 17, 23:00 PDT",
  },
  {
    status: "In progress",
    description:
      "Scheduled maintenance is currently in progress. We will provide updates as necessary.",
    timestamp: "May 17, 22:00 PDT",
  },
  {
    status: "Scheduled",
    description:
      "Recurly will be performing maintenance on our backend systems. Users may experience delays in Admin console Activity feed.",
    timestamp: "May 11, 10:04 PDT",
  },
];
---

<section class="lg:p-8 bg-white">
  <div
    class="mx-auto 2xl:max-w-7xl py-24 lg:px-16 md:px-12 px-8 xl:px-40 items-center lg:py-40 relative w-full">
    <div class="max-w-xl mx-auto">
      <span
        class="relative rounded-full inline-flex items-center gap-x-1.5 px-3 py-1 text-sm leading-6 text-black ring-1 ring-black/10">
        <svg
          class="size-1.5 fill-green-500 animate-pulse"
          viewBox="0 0 6 6"
          aria-hidden="true">
          <circle
            cx="3"
            cy="3"
            r="3"
          ></circle>
        </svg>
        All systems operational
      </span>
      <h1
        class="text-3xl mt-6 tracking-tight font-light lg:text-6xl text-black">
        Buio's Status page
      </h1>
      <p class="mt-4 text-sm text-black">
        Our platform is continuously monitored for outages, slowdowns, or other
        issues. Should there be any interruptions in service, we'll provide
        status updates here.
      </p>
      <p class="mt-4 text-sm text-black">
        Live updates enabled <span class="block text-slate-400"
          >Last checked 22:18:51 BST</span
        >
      </p>

      <ul
        role="list"
        class="divide-y divide-black/20 mt-12 border-b border-t border-white/20">
        {
          statusItems.map((item) => (
            <li class="flex items-center justify-between space-x-3 py-4">
              <span class="relative inline-flex items-center gap-x-1.5 text-sm leading-6 text-slate-500">
                <svg
                  class={`size-1.5 fill-${item.color} animate-pulse`}
                  viewBox="0 0 6 6"
                  aria-hidden="true">
                  <circle
                    cx="3"
                    cy="3"
                    r="3"
                  />
                </svg>
                {item.service}
              </span>
              <p class="flex-shrink-0 text-sm text-black">{item.status}</p>
            </li>
          ))
        }
      </ul>
      <div class="mt-24 space-y-24 w-full">
        <div>
          <span class="text-3xl mt-6 tracking-tight font-light text-black"
            >Past Incidents
          </span>
          <ul
            role="list"
            class="divide-y text-black pt-6 border-t mt-6">
            <li class="py-4">
              <span class="text-slate-500 block">
                No incidents reported today.
              </span>
            </li>
          </ul>
        </div>
        <div>
          <span class="text-3xl mt-6 tracking-tight font-light text-black"
            >May 17, 2023 ⏤ Scheduled Maintenance
          </span>
          <ul
            role="list"
            class="divide-y text-black pt-6 border-t mt-6">
            {
              events.map((event) => (
                <li class="py-4">
                  <span class="text-slate-500 block">
                    <strong class="text-black">{event.status}</strong> ⏤
                    {event.description}
                  </span>
                  <span>
                    <time class="block text-slate-400 text-xs mt-2">
                      {event.timestamp}
                    </time>
                  </span>
                </li>
              ))
            }
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
