---
// src/data/testimonialsData.js
export const testimonialsData = [
  {
    quote:
      "Will helped us hire a Senior Bubble Developer who knew complex backend workflows and our specific API use cases. We literally hired the first person he sent, that's how good he is.",
    author: "Gabriel Francoeur",
    role: "Founder of Scaling Process",
    imageUrl:
      "/images/g.jpg",
  },
  {
    quote:
      "Working with Will is great, he spent 15 years recruiting and is an accomplished No Code Developer himself. I increased my salary and now work with an amazing team. Couldn't be happier.",
    author: "Ian Storni",
    role: "Senior Bubble Developer",
    imageUrl:
      "/images/iii.jpeg",
  },
  {
    quote:
      "Working with Will is great when I need some side cash to keep the lights on. Seems like he really only works with great people. If you're a dev, reach out.",
    author: "Stuart Brent",
    role: "Sr. Bubble Dev & Founder - SaaSyDB",
    imageUrl:
      "/images/stu.png",
  },
];
---

<section>
  <div class="mx-auto max-w-7xl lg:px-16 md:px-12 px-8 xl:px-24 py-24">
    <div class="max-w-xl">
      <span class="text-sm uppercase font-medium tracking-wide text-blue-600"
        >Hear from the people we work with</span
      >
      <h2
        class="text-purple-900 font-semibold tracking-tight lg:text-5xl mt-6 text-3xl">
        Happy No Code Jobs Customers
      </h2>
      <p class="mt-12 text-slate-500 text-sm text-balance">
        Our business is built on referrals. We've helped hundreds of people find their dream jobs and we'd love to help you too.
      </p>
    </div>

    <ul
      class=" mt-12 elative bg-slate-50 rounded-xl divide-y"
      role="list">
      {
        testimonialsData.map((testimonial, index) => (
          <li class="lg:p-8 p-4 ">
            <div class="grid grid-cols-1 gap-6 items-start lg:gap-24 lg:grid-cols-3">
              <div class="lg:col-span-2 order-last">
                <p class="text-slate-500">"{testimonial.quote}"</p>
              </div>
              <div class="items-center inline-flex gap-3">
                <div class="flex-shrink-0">
                  <img
                    alt={`A picture of ${testimonial.author}`}
                    class="rounded-full size-10 lg:size-16 object-cover"
                    src={testimonial.imageUrl}
                  />
                </div>
                <div class="flex-1 min-w-0">
                  <p class="text-sm text-black font-medium">
                    {testimonial.author}
                  </p>
                  <p class="text-sm text-slate-500">{testimonial.role}</p>
                </div>
              </div>
            </div>
          </li>
        ))
      }
    </ul>
  </div>
</section>
