---
import BaseLayout from "./BaseLayout.astro";
const { frontmatter } = Astro.props;
---

<BaseLayout>
  <section>
    <div
      class="mx-auto max-w-7xl lg:px-16 md:px-12 px-8 xl:px-24 py-24 items-start">
      <div>
        <div class="items-center grid gap-12">
          <div>
            <h2
              class="text-purple-900 font-semibold text-3xl lg:text-7xl tracking-tight lg:text-balance">
              {frontmatter.title}
            </h2><p class="text-xl text-slate-500 mt-12 lg:text-balance">
              {frontmatter.description}
            </p>
            <div class="mt-6">
              <div class="flex items-center">
                <div>
                  <img
                    class="inline-block h-9 w-9 rounded-full"
                    src={frontmatter.image.url}
                    alt={frontmatter.image.alt}
                  />
                </div>
                <div class="ml-3">
                  <p
                    class="text-sm font-medium text-slate-500 group-hover:text-purple-900">
                    {frontmatter.author}
                  </p>
                  <p class="text-xs text-slate-500 uppercase">
                    {frontmatter.pubDate.toString().slice(0, 10)}
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section>
    <div class="px-8 max-w-7xl lg:px-24 mx-auto py-12">
      <div
        class="max-w-[40rem] prose-lg hover:prose-a:text-blue-500 prose prose-a:font-semibold prose-a:text-blue-300 prose-blockquote:text-blue-600 prose-h3:text-purple-900 text-slate-500">
        <slot />
      </div>
    </div>
  </section>
</BaseLayout>
