---
import CtaWack from "@/components/cta/CtaWack.astro";
import BaseLayout from "./BaseLayout.astro";
import CtaWack from "@/components/cta/CtaWack.astro";
const { frontmatter } = Astro.props;
---

<BaseLayout>
  <section x-data="{ open: false }">
    <div
      class="mx-auto max-w-7xl lg:px-16 md:px-12 px-8 xl:px-24 lg:flex pt-24">
      <div class="lg:w-1/2 lg:pl-12 lg:ml-auto">
        <div class="lg:sticker lg:sticky pb-16 pt-8 top-0">
          <div class="lg:pl-36 md:pl-12">
            <nav class="bg-slate-50 rounded-3xl p-4 lg:p-8">
              <div class="flex items-center justify-start h-32">
                <img
                  src={frontmatter.logo.url}
                  alt={frontmatter.logo.alt}
                  class="object-contain w-24 h-24"
                />
              </div>
              <ul class="mt-8 space-y-4">
                {
                  frontmatter.details.map((detail) => (
                    <li>
                      <p class="text-purple-900 font-semibold text-base tracking-tight">
                        {detail.title}
                      </p>
                      <div class="mt-2 text-sm text-slate-500 lg:text-pretty">
                        {detail.url ? (
                          <a
                            class="text-blue-600"
                            href={detail.url}>
                            {detail.value}
                          </a>
                        ) : (
                          detail.value
                        )}
                      </div>
                    </li>
                  ))
                }

                {frontmatter.devs && (
                  <li>
                    <p class="text-purple-900 font-semibold text-base tracking-tight">
                      Devs to Follow
                    </p>
                    <div class="mt-2 text-sm text-slate-500 lg:text-pretty space-y-2">
                      {frontmatter.devs.map((dev) => (
                        <div>
                          <a
                            class="text-blue-600"
                            href={dev.url}
                            target="_blank"
                            rel="noopener noreferrer">
                            {dev.name}
                          </a>
                        </div>
                      ))}
                    </div>
                  </li>
                )}
              </ul>
              <div class="mt-12">
                <a
                  href="/open-positions"
                  class="text-white items-center font-medium gap-3 inline-flex focus-visible:outline-2 focus-visible:outline-offset-2 focus:outline-none justify-center px-6 lg:px-8 ring-2 w-full ring-transparent focus:ring-offset-2 focus:ring-blue-500 duration-200 py-3.5 rounded-full active:bg-blue-800 active:text-white bg-blue-500 hover:bg-blue-600">
                  View Our Job Board
                </a>
              </div>
            </nav>
          </div>
        </div>
      </div>
      <div class="lg:w-1/2 lg:order-first">
        <div class="flex-shrink-0">
          <div>
            <h1
              class="text-purple-900 font-semibold mt-6 text-4xl tracking-tight">
              {frontmatter.integration}
            </h1>
            <p class="text-slate-500 mt-5 lg:text-balance">
              {frontmatter.description}
            </p>

            <div class="mt-12">
              <span
                class="text-purple-900 font-semibold mt-6 text-3xl tracking-tight"
                >Details</span
              >
            </div>
          </div>

          <div class="prose-styles">
            <slot />
          </div>
        </div>
      </div>
    </div>
  </section>
  <CtaWack />
</BaseLayout>
